// font-family: 'Ibarra Real Nova', serif;
// font-family: 'Public Sans', sans-serif;
/*********************************
  VARIABLES
*********************************/
$Cyan: #5FB4A2;
$Dark-blue: #203A4C;
$Greyish-dark-blue: #33323D;
$Grey: #EAEAEB;
$Light-grey: #FAFAFA;
$error: #F43030;

/*********************************
  RESET AND SCROLLBAR
*********************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn,
.link {
  color: inherit;
  transition: all 400ms;
}

.btn {
  display: inline-block;
  border: initial;
  background-color: initial;
  font-family: inherit;
  font-weight: inherit;
}

.link {
  text-decoration: none;
}

/*********************************
  BASE STYLES
*********************************/
.body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
  color: $Greyish-dark-blue;
}

.container {
  width: min(100% - 4rem, 689px);
  margin-inline: auto;

  @media(min-width: 1440px) {
    width: 1110px;
  }
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.invisible {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.heading,
.heading--secondary {
  font-family: 'Ibarra Real Nova', serif;
  line-height: 2.625rem;
}

.heading {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -0.36px;

  &--secondary {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: -0.29px;
  }
}

// For hiding hamburger and nav at certain screens
// Try to conditioanlly render with React instead!!!
.hidden {
  display: none;
}

/*********************************
  NAV
*********************************/
.header {
  background-color: #FFF;
  padding: 2rem 0 2.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu,
  &__shadow {
    width: 100vw;
    position: absolute;
    top: 6.5rem;
    left: 0;
  }

  &__menu {
    background-color: $Greyish-dark-blue;
    color: #FFF;
    padding: 2.5rem 0;
    z-index: 2;
  }

  &__shadow {
    height: 100vh;
    background-color: rgba(#000, 50%);
    z-index: 1;
  }

  &__list {
    list-style: none;
    width: min(100% - 4rem, 689px);
    margin-inline: auto;
  }

  &__item {
    &:nth-of-type(2) {
      margin: 2rem 0;
    }
  }

  &__link {
    font-size: 0.75rem;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $Cyan;
    } 
  }
}

.hamburger {
  background-color: $Greyish-dark-blue;
  width: 20px;
  height: 2px;
  border-radius: 1rem;
  transition: all 400ms;
  position: absolute;
  left: 0;

  &--top {
    top: 3px;
  }

  &--bottom {
    bottom: 3px;
  }
}

// Toggled on click for .hamburger--top
.flip-top {
  top: 7px;
  transform: rotate(-225deg);
}

// Toggled on click for .hamburger--bottom
.flip-bottom {
  bottom: 7px;
  transform: rotate(-315deg);
}

/*********************************
  MAIN
*********************************/
// hero section
.hero {
  margin-top: 6.5rem;
  // margin-bottom: 6rem;
  min-height: calc(100vh - 6.5rem);

  &__context {
    margin-top: 1.5rem;
  }

  &__heading {
    margin-bottom: 2rem;
    max-width: 320px;
  }
}

// about section
.about {
  margin-top: 6rem;
  margin-bottom: 7.25rem;
  scroll-margin-top: 6.5rem;

  &__context {
    &::before,
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: rgba($Greyish-dark-blue, 15%);
    }

    &::before {
      margin-block: 2rem;
    }

    &::after {
      margin-top: 3.125rem;
    }
  }

  &__heading {
    margin-bottom: 1.75rem;
  }

  &__text {
    margin-bottom: 1.5rem;
  }
}

/*********************************
  FOOTER
*********************************/
.footer {
  background-color: $Greyish-dark-blue;
  color: #FFF;
  text-align: center;
  padding: 3.5rem 0;

  &__wrapper {
    display: grid;
    justify-items: center;

    // &--icons {
      
    // }
  }

  .logo {
    path {
      fill: #FFF;
    }
  }

  &__list {
    margin: 2.5rem 0;
    list-style: none;
  }

  &__item {
    &:nth-of-type(2) {
      margin: 2rem 0;
    }
  }

  &__link {
    font-size: 0.75rem;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $Cyan;
    } 

    &--icon {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &:focus {
        .footer__icon {
          path {
            fill: $Cyan;

          }
        }
      }
    }
  }

  &__icon {
    vertical-align: middle;
    
    path {
      transition: all 400ms;
      fill: #FFF;
    }
  }
}

/*********************************
  BUTTONS
*********************************/
.btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 14.1px;
  letter-spacing: 2px;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &--hamburger {
    height: 1rem;
    width: 1.25rem;
    position: relative;

    // &:hover,
    // &:focus {
    //   .hamburger {
    //     background-color: #6d8982;
    //   }
    // }
  }

  &--hero {
    display: flex;
    align-items: center;
    height: 3rem;
    width: min(100%, 12.5rem);
    background-color: $Dark-blue;
    color: #fff;

    &__wrapper {
      height: 100%;
      width: 3rem;
      background-color: rgba(#000, 10%);
      padding-top: 1.125rem;
    }

    &__icon {
      path {
        transition: all 400ms;
      }
    }

    &__text {
      width: 100%;
      text-align: center;
    }

    &:hover,
    &:focus {
      background-color: $Cyan;

      .btn--hero__icon {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &--white {
    background-color: #fff;
    border: 1px solid $Greyish-dark-blue;
    padding: 1rem 2.25rem 1rem 2rem;

    &:hover,
    &:focus {
      background-color: $Greyish-dark-blue;
      color: #fff;
    }
  }
}

/*********************************
  IMAGES
*********************************/
.image {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;

  &--hero {
    min-height: 271px;
    max-height: 350px;
    width: 100%;
    object-position: top 0 right -25px;
  }

  &--about {
    height: 346px;
    width: 100%;
    object-position: 50% 85%;
    object-fit: cover;
  }

  @media(min-width: 440px) {
    &--hero {
      object-position: top right;
    }
  }
}

/**********************************
  ANIMATIONS
**********************************/
@keyframes slide-up-hero {
  0% {
    opacity: 0%;
    transform: translateY(100vh);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes slide-down-hero {
  0% {
    opacity: 0%;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes slide-in-hero {
  0% {
    opacity: 0%;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.slide-up-hero {
  animation: slide-up-hero 500ms 500ms backwards;
}

.slide-down-hero {
  animation: slide-down-hero 1s forwards;
}

.slide-in-hero {
  animation: slide-in-hero 500ms 1s backwards;
}


.slide-in {
  animation: slide-in 400ms forwards;
}

.slide-out {
  animation: slide-out 400ms forwards;
}

.fade-in {
  animation: fade-in 400ms forwards;
}

.fade-out {
  animation: fade-out 400ms forwards;
}
