/*********************************
  VARIABLES
*********************************/
$Font-Ibarra: 'Ibarra Real Nova', serif;
$Font-PubSans: 'Public Sans', sans-serif;
$Cyan: #97cec1;
$Blue: #0071bc;
$Greyish-dark-blue: #33323d;
$Grey: #eaeaeb;
$Light-grey: #fafafa;
$Error: #f43030;

/*********************************
  RESET AND SCROLLBAR
*********************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  // firefox support
  scrollbar-color: $Greyish-dark-blue $Light-grey;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: $Light-grey;
}

::-webkit-scrollbar-thumb {
  background-color: $Greyish-dark-blue;
  border-radius: 100vw;
  border: 0.25rem solid $Light-grey;

  &:hover {
    background-color: rgba($Greyish-dark-blue, 0.85);
  }
}

/*********************************
  BASE STYLES
*********************************/
// Used to keep footer at the bottom of page.
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body {
  font-family: $Font-PubSans;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
  color: $Greyish-dark-blue;

  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

.container {
  width: min(100% - 4rem, 689px);
  margin-inline: auto;

  @media (min-width: 768px) {
    width: 689px;
  }

  @media (min-width: 1440px) {
    width: 1110px;
  }
}

.btn,
.link {
  color: inherit;
  transition: all 400ms;
  font-weight: 600;
}

.btn {
  display: inline-block;
  border: initial;
  background-color: initial;
  font-family: inherit;
}

.link {
  text-decoration: none;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.invisible {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.heading,
.heading--secondary {
  font-family: $Font-Ibarra;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  letter-spacing: -0.29px;
}

.heading {
  @media (min-width: 375px) {
    &,
    &--secondary {
      font-size: 2.5rem;
      line-height: 2.625rem;
      letter-spacing: -0.36px;
    }
  }

  @media (min-width: 1440px) {
    font-size: 3.125rem;
    line-height: 3.125rem;
    letter-spacing: -0.45px;
  }
}

.hidden {
  display: none;
}

/*********************************
  NAV
*********************************/
.header {
  display: flex;
  background-color: #fff;
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu,
  &__shadow {
    width: 100vw;
    position: absolute;
    top: 5rem;
    left: 0;
  }

  &__menu {
    background-color: $Greyish-dark-blue;
    color: #fff;
    padding: 2.5rem 0;
    z-index: 2;
  }

  &__shadow {
    height: 100vh;
    background-color: rgba(#000, 50%);
    z-index: 1;
  }

  &__list {
    list-style: none;
    width: min(100% - 4rem, 689px);
    margin-inline: auto;
  }

  &__item {
    &:nth-of-type(2) {
      margin: 2rem 0;
    }
  }

  &__link {
    font-size: 0.75rem;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $Cyan;
    }
  }
}

@media (min-width: 768px) {
  .header {
    position: unset;
  }

  .nav {
    &__menu {
      width: initial;
      display: block;
      position: unset;
      background-color: initial;
      color: $Greyish-dark-blue;
      padding: 0;
    }

    &__shadow {
      display: none;
    }

    &__list {
      display: flex;
      width: initial;
      margin-inline: unset;
    }

    &__item {
      &:nth-of-type(2) {
        margin: 0;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    &__link {
      font-size: 0.875rem;

      &:hover,
      &:focus {
        color: $Blue;
      }
    }
  }
}

@media (min-width: 1440px) {
  .nav__item:not(:last-child) {
    margin-right: 4rem;
  }
}

.hamburger {
  position: relative;
  height: 1rem;
  width: 1.25rem;
  cursor: pointer;

  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: $Blue;
    }
  }

  &::before,
  &::after {
    content: '';
    display: inline-block;
    background-color: $Greyish-dark-blue;
    width: 1.25rem;
    height: 0.125rem;
    border-radius: 1rem;
    transition: all 400ms;
    position: absolute;
    left: 0;
  }

  &::before {
    top: 3px;
  }

  &::after {
    bottom: 3px;
  }
}

.flip.hamburger::before {
  top: 7px;
  transform: rotate(-225deg);
}

.flip.hamburger::after {
  bottom: 7px;
  transform: rotate(-315deg);
}

/*********************************
  MAIN
*********************************/
.main {
  margin-top: 5rem;

  &__context {
    &::before,
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: rgba($Greyish-dark-blue, 15%);
    }
  }

  @media (min-width: 768px) {
    &:not(.main--contact) {
      margin-top: 0;
    }

    &--contact {
      margin-block: auto;
    }
  }
}

// hero section
.hero {
  min-height: calc(100vh - 5rem);
  margin-bottom: 4rem;

  &__wrapper {
    padding-top: 1.5rem;
    animation: fade-in 400ms 1s backwards;
  }

  &__heading {
    max-width: 11ch;
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    position: relative;
    margin-bottom: 5rem;

    &__wrapper {
      position: absolute;
      width: 768px;
      top: 0;
      left: 0;
      right: 0;
      margin-inline: auto;
      padding: 0;
      height: 650px;

      &--secondary {
        height: 100%;
        padding: 0 1rem;
        background-color: #fff;
        width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  @media (min-width: 1440px) {
    margin-bottom: 6rem;

    &__wrapper {
      width: 1200px;
      height: min(100vh - 5rem, 1050px);
    }
  }
}

// about section
.about {
  margin-bottom: 5rem;
  scroll-margin-top: 6.5rem;

  &__context {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    &::before {
      margin-block: 2rem;
    }
  }

  &__heading {
    margin-bottom: 1.75rem;
  }

  &__text {
    margin-bottom: 1.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.125rem;
  }

  @media (min-width: 460px) {
    &__wrapper {
      flex-direction: row;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 6rem;
    scroll-margin-top: 3rem;

    &__context {
      &::before {
        margin-block: 3rem;
      }

      &::after {
        margin-top: auto;
      }
    }

    &__wrapper {
      margin-bottom: 3rem;
    }
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: minmax(600px, 100%);
    justify-content: space-between;
    margin-bottom: 7.5rem;
    scroll-margin-top: 4rem;

    &__context {
      &::before {
        margin-block: unset;
        margin-bottom: 2.5rem;
      }
    }
  }
}

// section portfolio
.portfolio {
  list-style: none;
  min-height: calc(100vh - 10rem);
  padding: 4rem 0;
  display: grid;
  align-content: center;
  justify-content: space-around;
  row-gap: 2rem;

  &__card,
  &__card--secondary {
    height: 17.5rem;
    border: 0.2rem solid $Greyish-dark-blue;
  }

  &__card {
    width: min(100%, 17.5rem);
    position: relative;
    justify-self: center;
    background-color: rgba($Greyish-dark-blue, 0.015);
    color: $Greyish-dark-blue;

    &--secondary {
      width: calc(100% + 0.4rem);
      position: absolute;
      top: -0.2rem;
      left: -0.2rem;
      background-color: rgba($Greyish-dark-blue, 0.85);
      color: #fff;
      text-align: center;
      padding: 1rem;
    }
  }

  &__wrapper {
    padding: 1rem 0;
    text-align: center;

    &--secondary {
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      margin-inline: auto;
      display: grid;
      grid-auto-flow: column;
      width: max-content;
      column-gap: 1rem;
      z-index: 1;
      // background-color: #97cec1;
    }
  }

  &__heading {
    font-family: $Font-Ibarra;
    font-weight: 500;
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-transform: capitalize;
  }

  &__text {
  }

  &__link {
    background-color: initial;
    border: initial;
    cursor: pointer;
    height: max-content;

    &:last-child {
      align-self: center;
    }

    &:hover,
    &:focus {
      .portfolio__icon path {
        fill: $Blue;
      }

      .portfolio__icon--secondary path {
        fill: $Cyan;
      }
    }
  }

  &__icon,
  &__icon--secondary {
    vertical-align: middle;

    & path {
      transition: all 300ms;
    }
  }

  &__icon {
    & path {
      fill: $Greyish-dark-blue;
    }
  }

  &__icon--secondary {
    & path {
      fill: #fff;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, auto);
    row-gap: 2.95rem;

    &__card,
    &__card--secondary {
      height: 18.5rem;
      width: 18.5rem;
    }
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, auto);
    row-gap: 3.25rem;

    &__card,
    &__card--secondary {
      height: 20rem;
      width: 20rem;
    }
  }
}

// section contact
.contact {
  &__context {
    margin-bottom: 4rem;

    &::before {
      margin-bottom: 2rem;
    }

    &::after {
      margin-top: 2rem;
    }
  }

  &__heading,
  &__text {
    margin-bottom: 1.5rem;
  }

  &__address {
    font-size: 0.9375rem;
    font-style: normal;
    margin-top: 1rem;
  }

  &__span {
    margin-left: 1rem;
  }

  &__icons {
    margin-top: 1.5rem;
  }

  &__link--icon {
    &:not(:last-child) {
      margin-right: 1rem;
    }

    .icon {
      vertical-align: middle;
      path {
        transition: all 400ms;
      }
    }

    &:hover,
    &:focus {
      .icon {
        path {
          fill: $Blue;
        }
      }
    }
  }

  @media (min-width: 768px) {
    &__context {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1440px) {
    &__context {
      display: grid;
      grid-template-columns: 600px 375px;
      grid-template-rows:
        auto
        auto
        auto
        auto
        auto
        1fr
        auto;
      justify-content: space-between;
      align-items: flex-start;
      justify-items: flex-start;

      &::before {
        margin-bottom: 5rem;
        grid-column: 1/-1;
      }

      &::after {
        margin-top: 5rem;
        grid-column: 1/-1;
      }
    }

    &__heading {
      margin-bottom: 2rem;
      grid-column: 1;
    }

    &__text {
      margin-bottom: 0;
      grid-row: 3/7;
      grid-column: 1;
    }

    &__address {
      grid-column: 2;
      font-size: 1rem;

      &:first-of-type {
        grid-row: 5;
      }

      &:last-of-type {
        grid-row: 6;
      }
    }

    &__icons {
      margin-top: 1.5rem;
      grid-column: 2;
      grid-row: 4;
    }

    &__link--icon:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

/*********************************
  FOOTER
*********************************/
.footer {
  // Keeps the footer at the bottom of page, based off the #root elements styling.
  margin-top: auto;
  background-color: $Greyish-dark-blue;
  color: #fff;
  text-align: center;
  padding: 3.5rem 0;

  &__wrapper {
    display: grid;
    justify-items: center;
  }

  .logo {
    path {
      fill: #fff;
    }
  }

  &__list {
    margin: 2.5rem 0;
    list-style: none;
  }

  &__item {
    &:nth-of-type(2) {
      margin: 2rem 0;
    }
  }

  &__link {
    font-size: 0.75rem;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $Cyan;
    }

    &--icon {
      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover,
      &:focus {
        .icon {
          path {
            fill: $Cyan;
          }
        }
      }
    }
  }

  .icon {
    vertical-align: middle;

    path {
      transition: all 400ms;
      fill: #fff;
    }
  }

  @media (min-width: 768px) {
    text-align: left;
    padding: 0;
    height: 5rem;
    display: flex;
    align-items: center;

    &__wrapper {
      display: flex;

      &--icons {
        margin-left: auto;
      }
    }

    .logo {
      margin-right: 3rem;
    }

    &__list {
      display: flex;
      margin: 0;
    }

    &__item {
      &:nth-of-type(2) {
        margin: 0 2.625rem;
      }
    }
  }

  @media (min-width: 1440px) {
    padding: 2rem 0;

    &__link {
      font-size: 0.875rem;

      &--icon {
        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }
    }
  }
}

/*********************************
  BUTTONS
*********************************/
.btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.125rem;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:focus {
    outline: 3px solid $Blue;
    border-color: $Blue;
  }

  &--hero {
    display: flex;
    align-items: center;
    height: 3rem;
    width: min(100%, 12.5rem);
    background-color: #fff;
    color: $Greyish-dark-blue;
    border: 1px solid $Greyish-dark-blue;

    &__wrapper {
      height: 100%;
      width: 3rem;
      background-color: rgba($Greyish-dark-blue, 5%);
      padding-top: 1.125rem;
      transition: all 400ms;
    }

    &__icon {
      path {
        transition: all 400ms;
      }
    }

    &__text {
      width: 100%;
      text-align: center;
    }

    &:hover,
    &:focus {
      background-color: $Greyish-dark-blue;
      color: #fff;

      .btn--hero__wrapper {
        background-color: rgba(#fff, 10%);
      }

      .btn--hero__icon {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &--white {
    background-color: #fff;
    border: 1px solid $Greyish-dark-blue;
    padding: 1rem 2.25rem 1rem 2rem;

    &:hover,
    &:focus {
      background-color: $Greyish-dark-blue;
      color: #fff;
    }
  }

  &--about {
    text-align: center;
    width: 11.25rem;
    padding: 1rem 0;

    &:first-of-type {
      margin-bottom: 1.5rem;
    }
  }

  @media (min-width: 460px) {
    &--about:first-of-type {
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    &--about {
      width: 14rem;
    }
  }

  @media (min-width: 1440px) {
    font-size: 0.875rem;
    line-height: 1rem;

    &--contact {
      grid-column: 2;
      grid-row: 3;
    }
  }
}

/*********************************
  IMAGES
*********************************/
.image {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;

  &--hero {
    height: 375px;
    width: 100vw;
    object-position: 85% 10%;
  }

  &--about {
    height: 360px;
    width: 100%;
    object-position: 50% 75%;
  }

  &--portfolio {
    width: 100%;
    min-height: 50%;
    // border-top-left-radius: 1rem;
    // border-top-right-radius: 1rem;
  }

  @media (min-width: 768px) {
    &--hero {
      height: 650px;
      object-position: 60% 18%;
    }

    &--about {
      height: 400px;
      object-position: 50% 80%;
    }
  }

  @media (min-width: 1440px) {
    &--hero {
      height: min(100vh - 5rem, 1050px);
    }

    &--about {
      height: 100%;
      margin-block: auto;
      object-position: unset;
    }
  }
}

/**********************************
  ANIMATIONS
**********************************/
@keyframes slide-in {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.slide-in {
  animation: slide-in 400ms forwards;
}

.slide-out {
  animation: slide-out 400ms forwards;
}

.fade-in {
  animation: fade-in 400ms forwards;
}

.fade-out {
  animation: fade-out 400ms forwards;
}

// /**********************************
//   DARK MODE
// **********************************/

// @media (prefers-color-scheme: dark) {
//   .body {
//     background-color: $Greyish-dark-blue;
//   }
// }
